header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    margin: 1rem 0;
    text-align: center;
}
nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #4CAF50;
}
main {
    padding: 1rem;
    text-align: center;
}
footer {
    background-color: #5e5a5a;
    color: #fcf5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}
.running {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }   
}