.nav {
  display: flex;
  background-color: lightblue;
  justify-content: space-around;
  color: black;
  align-items: center;
  font-size: 20px;
  height: 70px;
  font-weight: bold;
}
.nav-list {
  list-style: none;
  display: flex;
  width: 20%;
  color: rgb(102, 102, 102);
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.icons {
  padding-top: 10px;
  font-size: 25 px;
}